/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 /* General Styling */
* {
    max-width:100%;
    box-sizing: border-box;
    font-size: 62.5%;
    /* border:1px solid black; */
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-size: 1.3rem;
}

/* Element Styling */
.container {
    width: 95%;
    margin: 0 auto;
    /* border:2px solid red */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 4rem;
}

.logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width:20%;
    height: 90%;
}
a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

#Topnav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    width: 80%;
    margin:1%;
    
}

.imgcontainer img{
    display: block;
    margin: 2% auto;
    width: 80%;

}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    
}

.top-content .text-container {
    width: 35%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    width: 80%;
    margin: 1% auto;
}

.middle-content h2 {
    padding:0 1%;
    margin-top: 2%;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 10rem;
    margin: 3% 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{
    background: teal;
}
.box2{
    background-color: gold;    
}
.box3{
    background-color: cadetblue;
}
.box4{
    background-color: coral;
}
.box5{
    background-color: crimson;
}
.box6{
    background-color: forestgreen;
}
.box7{
    background-color: darkorchid;
}
.box8{
    background-color: hotpink;
}
.box9{
    background-color: indigo;
}
.box10{
    background-color: dodgerblue;
}

.bottom-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding:0 1%;
    width: 33%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 80%;
    margin: auto;
    background: black;
    margin-top: 1%;
}

footer nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}
footer a:visited, a:hover, a:focus {
    color: white;
}

/* END INDEX.HTML */

/* START ELEMENT SYTLING ABOUT PAGE */

.abouttext-container{
    width: 80%;
    padding-left: 2%;
    padding-bottom: 2%;
    border-bottom:1px dashed black;
}
.abouttext-container h2{
    font-size: 2rem;
}
.abouttext-container p{
    font-size: 1.5rem;
}

.aboutcontainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.abox{
    width: 40%;
    margin:2% auto;
    padding-bottom: 2%;
    border-bottom:1px dashed black;
}

.aboximg{
    text-align: center;
    margin: 4%;
}

.abox h3{
    font-size: 1.5rem;
}
button{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin:5% 0;
}

.bottomabout{
    margin:2% auto;
    padding:0 2%;
    width: 80%;
}